@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
button.active {
  background-color: #9d174d;
  transition: all 0.4s linear;
}

.hide-scrollbar::-webkit-scrollbar,
.btn-list::-webkit-scrollbar {
  display: none;
}

.item-shop-scrollbar::-webkit-scrollbar {
  margin-left: 4px;
  width: 2px;
  background-color: #ccc;
}

.item-shop-scrollbar::-webkit-scrollbar-track {
  background: #2c2644;
}

/* Handle */
.item-shop-scrollbar::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
.item-shop-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.hide-modal-edit {
  display: none;
  animation: hideModalEdit linear 0.4s;
}

@keyframes hideModalEdit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* width */
.body-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.body-scrollbar::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
.body-scrollbar::-webkit-scrollbar-thumb {
  background: #5a40b5;
  border-radius: 4px;
  height: 50px;
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.shadow-xxl {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shine-effect::after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: hsla(0, 0%, 100%, 0.13);
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.13) 0,
    hsla(0, 0%, 100%, 0.13) 77%,
    hsla(0, 0%, 100%, 0.5) 92%,
    hsla(0, 0%, 100%, 0)
  );
  animation: effect 3s ease-in-out infinite;
}
@keyframes effect {
  to {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
}

.avatar-chat {
  margin-left: -10px;
}
.avatar-chat:first-child {
  margin-left: 0;
}
.react-emoji {
  width: 280px !important;
}
.react-input-emoji--container {
  margin: 0 !important;
  border-radius: 10px !important;
  background-color: #52495d !important;
  border: none !important;
  overflow: hidden !important;
  text-wrap: wrap !important;
}
.react-input-emoji--container::-webkit-scrollbar {
  display: none !important;
}
